<div class="col-xs-11 col-sm-6 col-md-3 LoginInnerContainer">
   <div class="WittyParrotLogo">
      <img src="../images/logo_for_login.png">
   </div>
   <div class="LoginBx">
      <h3>Log In</h3>
      <form class="col-xs-12 LoginForm" role="form" method="post" onsubmit="return login();" name="loginForm" autocomplete="on" id="loginform">
         <input type="email" class="form-control" placeholder="Username" name="username" autocomplete="on" required>
         <input type="password" class="form-control" placeholder="Password" required>
         <div class="col-xs-12 StayLoggedIn">
            <input type="checkbox"> Stay logged in
         </div>
         <input type="submit" class="btn btn-default LoginButton col-xs-offset-3 col-xs-6" value="Log In">
      </form>
      <div class="col-xs-12 AppVersion">
         Version 0.1
      </div>
   </div>
</div>
<script>
function login(){
  $("#OuterWrap").load("views/main.html");
  return false;
};
</script>
