<div class="col-xs-12 col-sm-6 col-md-3 LoginInnerContainer">
   <div class="WittyParrotLogo">
      <img src="../images/logo_for_login.png">
   </div>
   <div class="LoginBx">
      <h3>Log In</h3>
      <form class="col-xs-12 LoginForm" role="form" method="post" ng-submit="login()" name="loginForm" autocomplete="on" id="loginform">
         <input type="email" class="form-control" ng-model="username" placeholder="Username" name="username" autocomplete="on" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
         oninvalid="setCustomValidity('Please enter email address.')"
         onchange="try{setCustomValidity('')}catch(e){}">
         <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
         <input type="submit" class="btn btn-default LoginButton col-xs-offset-3 col-xs-6" value="Log In">
      </form>
      <div class="col-xs-12 AppVersion">
         Version 0.1
      </div>
   </div>
</div>
