.LoginBx{
  margin:10px;
  h3{
    color: #f58220;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
  }
  input{
    margin-bottom: 20px;
  }
  .LoginButton{
    background-color:#f58220;
    color: #fff;
  }
}
#OuterWrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.WittyParrotLogo{
padding: 8px;
margin-bottom: 10px;
width: 100%;
background-color: #f2f2f2;
}
